// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url($font_url);

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// body {
//   background-color: whitesmoke !important;
// }

// html {
//   font-size: 62.5%;
//   font-family: "Roboto Condensed", sans-serif;
// }

// a {
//   text-decoration: none;
//   color: black;
//   padding: 20px;
// }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

.navbar {
  background-color: rgb(140, 236, 177);
}

header {
  background-color: rgb(140, 236, 177);
}

ul {
  li {
    display: inline-block;
  }
}

li {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0px;
  list-style-type: none;
  word-spacing: 15px;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: black;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
  padding: 10px;
  border: 10px solid rgb(218, 231, 223);
  margin: 20px 10px 20px 10px;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border: 10px solid rgb(218, 231, 223);
  margin: 20px 10px 20px 10px;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  border: 10px solid rgb(218, 231, 223);
  margin: 20px 10px 20px 10px;
}

section {
  background-color: rgb(218, 231, 223);
  text-align: center;
}

body {
  background-color: rgb(218, 231, 223);
}

form {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  width: 50%;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  color: black;
}