.SecondaryImage {
  width: 1200px;
  height: 628px;
  padding: 10px;
  border: 10px solid rgb(218, 231, 223);
  margin: 20px 40px 20px 100px;
}

.ClientsLogo {
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 10px solid rgb(218, 231, 223);
  margin: 20px 10px 20px 10px;
}

.RectangularClientsLogo {
  width: 450px;
  height: 220px;
  padding: 10px;
  border: 10px solid rgb(218, 231, 223);
  margin: 20px 10px 20px 10px;
}

.Profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 49px;
  width: 1200px;
  height: 628px;
}