.ContentTitle {
    background-color: whitesmoke !important;
    h1 {
        color: black !important;
        text-align: center;
        font-size: 60px;
    }
    p {
        font-size: 45px;
        color: black !important;
        text-align: center;
    }
}